@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --main-width: 1300px;
  --canvas-width: 600px;
  --canvas-height: 600px;
  --shadow-normal: 2px 2px 5px rgba(0, 0, 0, 0.15);
  --canvas-radius: 5px;
  --sky: #ceeeff;
  --blue: #b9cfe9;
  --navy: #435c7e;
  /* --navy: #246b8473; */
  --green: #6ba479;
  --h-font-color: black;
  --body-color: #e6eaf4;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
h2,
h4:not(.label__description) {
  color: white;
  font-weight: 600;
}

canvas {
  width: var(--canvas-width);
  height: var(--canvas-height);
  border-radius: var(--canvas-radius);
  background-color: white;
  margin: 0 14px 0 14px;
}

body {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--body-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--main-width);
  margin-top: 48px;
}

#main__left {
  width: calc((var(--main-width) - var(--canvas-width)) / 2);
  height: var(--canvas-height);
}

#main__right {
  width: calc((var(--main-width) - var(--canvas-width)) / 2);
  height: var(--canvas-height);
}

#main__left,
#main__right {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--navy);
  box-shadow: var(--shadow-normal);
  border-radius: var(--canvas-radius);
  padding: 8px 0;
}

.main__logo {
  margin: 32px 0;
  font-size: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.container h4:not(.label__description) {
  text-align: start;
}

.inside__box {
  gap: 8px;

  padding: 16px 0;
  border: 1px solid rgba(245, 245, 220, 0.503);
  border-radius: 5px;
}
.inside__box:not(#text__box) {
  margin: 8px 0 36px 0;
}

input[type="range"],
#line-width {
  width: 90%;
  cursor: pointer;
}

.colors {
  display: flex;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
}

.color-option {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.347);
  margin-bottom: 16px;
}

#preview {
  margin-top: 8px;
  width: 100%;
  height: 300px;
  border: 3px solid white;
  border-radius: 5px;
  overflow: hidden;
}

#preview img {
  width: 100%;
  height: 100%;
}

input[type="file"] {
  display: none;
}

label {
  margin: 8px 0 16px 0;
  padding: 16px 32px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

#text__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0 24px 0;
}

.text__box-detail {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.text__box-detail input {
  all: unset;
  width: 70%;
  height: 32px;
  border: none;
  background-color: white;
}

input::placeholder {
  text-align: start;
  padding: 8px;
  font-size: 13px;
}

.text__box-detail select,
button {
  width: 28%;
}

.text__box-detail input,
select,
button {
  border-radius: 5px;
}

#buttons {
  width: 90%;
  display: flex;
  gap: 6px;
}

#buttons button {
  width: 50%;
  height: 42px;
  font-size: 16px;
  font-weight: 500;
}

button {
  border: 2px solid rgba(0, 0, 0, 0.114);
  background-color: white;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.68);
  cursor: pointer;
}

#mode-btns {
  width: 100%;
}

#mode-btns button {
  width: 22%;
  height: 32px;
  font-size: 12px;
}

#mode-btns button:hover {
  background-color: var(--sky);
}

#mode-btns button.active {
  background-color: #abd1e6;

  /* color: white; */
}
